<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolc2c.trade.mapper.MessageMapper">
    <select id="selectHotProductList" resultType="com.schoolc2c.bean.HotProduct">
        SELECT pid,COUNT(pid) AS m_count FROM message GROUP BY pid ORDER BY m_count DESC LIMIT 0,5
    </select>
</mapper>