<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schoolc2c.trade.mapper.ProductWantedMapper">
    <select id="selectPageProductWantedLsit" resultType="com.schoolc2c.bean.ProductWanted" parameterType="int">
        select * from product_wanted limit #{startNum},#{pageSize}
    </select>
</mapper>